/////////////////////////////////////////////////////
// RULES LAYOUT:
// 1) Box (margin, padding, display, etc)
//
// 2) Border & Background (border, border-radius, bg, etc)
//
// 3) Text (color, font-size, text-transform, etc)
//
// 4) Other stuff (transforms, animations, etc)
//
/////////////////////////////////////////////////////



/////////////////////////////////////////////////////
// General
/////////////////////////////////////////////////////
html {
  box-sizing: border-box;

  font-size: 100%;

  @include breakpoint(sm) {
    @include responsive-font(1, 1.1, $sm, $md);
  }

  @include breakpoint(md) {
    @include responsive-font(1.1, 1.2, $md, $lg);
  }

  @include breakpoint(lg) {
    @include responsive-font(1.2, 1.3, $md, $lg);
  }

  @include breakpoint(xl) {
    font-size: 1.4rem;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  height: auto;
  max-height: 100%;
  max-width: 100%;
  width: auto;
}



/////////////////////////////////////////////////////
// Z-Indexes
/////////////////////////////////////////////////////



/////////////////////////////////////////////////////
// Colors
/////////////////////////////////////////////////////
$white:  #fff;
$dark-grey: #313131;
$bg-color: #ffedde;



/////////////////////////////////////////////////////
// Typography
/////////////////////////////////////////////////////

$main-font: 'Lora', serif;

body {
  background-color: $bg-color;

  @include font($family: $main-font, $color: $dark-grey, $lh: 1.9);
}

h2 {
  @include font($weight: bold, $size: 3rem, $lh: 1.2);
}
strong {
  font-weight: 600;
}

em {
  font-style: italic;
}



/////////////////////////////////////////////////////
// Links
/////////////////////////////////////////////////////

$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';

#{$a-tags} {
  color: $dark-grey;
  border-bottom: 1px solid $dark-grey;
  text-decoration: none;
}
#{$a-tags-hover} {
  color: lighten($dark-grey, 20%);
  border-bottom: 1px solid transparent;
}
