.c-entry {

  &__title {
    margin-bottom: .7em;
  }

  &__body {
    font-size: .85rem;
  }

  p,
  ol,
  ul {
    margin-bottom: 1em;
  }

  ol {
    list-style-type: disc;
    padding-left: 2em;
  }
}
