{{ partial "head.html" .}}

<body>
  <div class="l-content">
    {{ partial "header.html" . }}
    <main>
      {{ range first 5 .Data.Pages }}
      {{ if eq .Type "entries" }}
        <article class="c-entry-blurb">
          <h2 class="c-entry-blurb__title">
            <a href="{{ .RelPermalink }}">
                {{ .Title }}
            </a>
          </h1>
          <div class="c-entry-blurb__date">
            {{ .Date.Format "January 2, 2006" }}
          </div>
        </article>
      {{ end }}
      {{ end }}
    </main>

  </div>
</body>
<html>
